<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

    <!-- Firebase Simple Login -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

    <!-- Bower -->
    <script src="lib/lodash/dist/lodash.min.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/login/login.js"></script>
    <script src="app/record/record.js"></script>
  </head>
  <body ng-app="moodTracker" class="platform-android">
    <ion-pane ng-if="!user">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Login</h1>
      </ion-header-bar>
      <ion-content ng-controller="loginCtrl">
        <!-- Buttons -->
        <button class="button button-full button-positive" ng-click="login('facebook')">Login with Facebook</button>

        <!-- <button class="button button-full button-outline button-assertive" ng-click="logout()">Logout</button> -->
      </ion-content>
    </ion-pane>

    <ion-tabs class="tabs-positive tabs-icon-only" ng-if="user" ng-cloak>
      <ion-tab title="Record" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-controller="RecordCtrl">

        <ion-header-bar class="bar-positive">
          <h1 class="title">Record Mood</h1>
        </ion-header-bar>
        <ion-content has-tabs="true">
          <div class="card mood-filter">
            <div class="item item-divider">
              Filter by type:
            </div>
            <div class="item row filters" ng-if="moodFilter.positive == undefined">
              <button class="button button-small button-balanced col" ng-click="filterMood(1)">Positive</button>
              <button class="button button-small button-stable col" ng-click="filterMood(0)">Neutral</button>
              <button class="button button-small button-assertive col" ng-click="filterMood(-1)">Negative</button>
            </div>

            <div class="item row" ng-if="moodFilter.positive !== undefined">
              <button class="button button-small button-positive button-outline col" ng-click="filterMood()">Reset</button>
            </div>
          </div>

          <ul class="moods">
            <li ng-repeat="mood in moods | filter:moodFilter:true" class="mood inline padding-left padding-top">
              <button ng-click="setMood(mood)" class="button" ng-class="{ 'button-balanced': mood.positive === 1, 'button-assertive': mood.positive === -1, 'button-stable': mood.positive === 0 }">{{ mood.name }}</button>
            </li>
          </ul>
        </ion-content>
      </ion-tab>

      <ion-tab title="Mood Log" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline"  ng-controller="MoodLogCtrl">
        <ion-header-bar class="bar-positive">
          <h1 class="title">Mood Log</h1>
        </ion-header-bar>
        <ion-content has-tabs="true">
          <ion-list>
            <ion-item ng-repeat="mood in moods | orderBy:'time':true">
              {{ mood.mood }}
              <span class="item-note">
                 {{ mood.time | date:'short' }}
              </span>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>


      <ion-tab title="Mood Pulse" icon-on="ion-arrow-graph-up-right" icon-off="ion-arrow-graph-up-right"  ng-controller="MoodPulseCtrl">
        <ion-header-bar class="bar-positive">
          <h1 class="title">Mood Pulse</h1>
        </ion-header-bar>
        <ion-content has-tabs="true">
          <div class="card">
            <div class="item item-text-wrap item-balanced">
              Positive: {{ counts[0] }}
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
              Neutral: {{ counts[1] }}
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap item-assertive">
              Negative: {{ counts[2] }}
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap item-royal">
              Overall Score: {{ counts[0] - counts[2] }}
            </div>
          </div>
        </ion-content>
      </ion-tab>

    </ion-tabs>

  </body>
</html>
